table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
	font-family: sans-serif;
	text-align: center;
}

td,
th,
caption {
	border: 1px solid rgb(0, 0, 0);
}

td {
	width: 30px;
}

caption {
	border-bottom: none;
	font-weight: bold;
	font-size: x-large;
}

.weekend {
	color: red;
}
