fieldset {
	border-radius: 10px;
	border: 1px solid #000;
	width: 250px;
	font-family: sans-serif;
}

label {
	display: block;
	margin: 10px;
}

.name {
    border-radius: 4px;
	border: 1px solid #000;
}

.age {
    border-radius: 4px;
	border: 1px solid #000;
}

.tel {
    border-radius: 4px;
	border: 1px solid #000;
}

.email {
	border-radius: 4px;
	border: 1px solid #000;
}

.message {
    max-width: 171px;
    min-width: 171px;
    max-height: 200px;
    font-size: 13.33px;
	border-radius: 4px;
	border: 1px solid #000;
}

.checkbox {
	cursor: pointer;
}

.button {
	cursor: pointer;
    border-radius: 4px;
	border: 0px solid #ffffff;
}

