* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.header {
	grid-column: span 12;
	height: 70px;
	background-color: #ff0000;
}

.aside {
	grid-column: span 2;
	background-color: #ffe600;
}

.main {
	background-color: #51ff00;
	grid-column: span 10;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	gap: 30px;
}

.article {
	min-height: 400px;
	background-color: #ff9900;
}

.footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	grid-column: span 12;
	height: 200px;
	background-color: #0400ff;
}

@media (width <= 1200px) {
	.main {
		grid-column: span 9;
	}
	/* .container {
		grid-template-columns: repeat(2, 1fr);
	} */
	.aside {
		grid-column: span 3;
	}
}

@media (width <= 768px) {
	.main {
		grid-column: span 12;
	}
	/* .container {
		grid-template-columns: repeat(1, 1fr);
	} */
	.aside {
		display: none;
	}
}
